body{
    font-family: Arial;
    background:#f5f5f5;
}

.container{
    width:400px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
}

input, select{
    width:100%;
    padding:8px;
    margin:5px 0 15px;
}

button{
    width:100%;
    padding:10px;
    background:#519af2;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.star{
    font-size:22px;
    color:gray;
    cursor:pointer;
}

.star.active{
    color:gold;
}

.yellow{
    color: gold;
}

.movieItem{
    background:#eee;
    padding:10px;
    margin-top:10px;
    border-radius:5px;
}
